/*

  Document Setup

*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  font-family: arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header[role="banner"] {
  border-bottom: 1px solid #ccc;
  padding: 40px 0;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 60px;
}


/*

  Navigation

  General Setup

*/

.nav {
  left: 20px;
  padding: 6px 0;
  position: fixed;
  top: 20px;
  transition: transform .2s ease-in-out;
  z-index: 99;
}


.nav-list {
  background: #000;
  height: .25em;
  margin: 0;
  padding: 0;
  position: relative;
  transition: font-size .2s ease-in-out;
  white-space: nowrap;
  width: 1.25em;
}


  .nav-list:after,
  .nav-list:before {
    background: rgba(0,0,0,1);
    content:'';
    height: 4px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: height .2s, width .2s, right .2s, left .2s;
    width: 100%;
  }

  .nav-list:before {
    transform: translateY(-6px);
  }

  .nav-list:after {
    transform: translateY(6px);
  }


.nav-list li {
  display: none;
  list-style: none;
  margin-right: 8px;
}

.nav-list a {
  color: rgba(0,0,0,1);
  display: block;
  font-size: 100%;
  font-weight: bold;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  visibility: hidden;
}


.btn--nav {
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: .01em;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: font-size .2s;
  top: 0;
  width: 100%;
  z-index: 12;
}



/*

  Navigation

  Closed State

*/

.btn--nav[aria-expanded="false"] .nav-list {
  pointer-events: none;
}

.btn--nav[aria-expanded="false"] .nav-list li {
  display: none;
}

.btn--nav[aria-expanded="false"] .nav-list a {
  color: rgba(0,0,0,0);
  font-size: .001em;
  opacity: 0;
  transition: color .2s .2s;
}

.btn--nav[aria-expanded="false"]:focus,
.btn--nav[aria-expanded="false"]:hover {
  outline: 4px solid #000;
  outline-offset: 4px;
}


/*

  Navigation

  Open State

*/

.menu-is-open .nav {
  background: rgba(222,222,222,.9);
  padding: 0;
  transform: translate(-20px, -20px);
  width: 100%;
}


.menu-is-open .nav .nav-list {
  background: rgba(0,0,0,0);
  height: 100%;
  padding: 0 0 0 72px;
  pointer-events: inherit;
  width: 100%;
}

  .menu-is-open .nav .nav-list:before,
  .menu-is-open .nav .nav-list:after {
    height: 100%;
    transform: translateY(0);
    width: 4px;
  }

  .menu-is-open .nav .nav-list:after {
    left: auto;
    right: 0;
  }

.menu-is-open .nav .nav-list li {
  display: inline-block;
}

.menu-is-open .nav .nav-list a {
  opacity: 1;
  visibility: visible;
}


.menu-is-open .nav .btn--nav {
  background: #808080;
  color: #fff;
  font-size: 1.75em;
  height: 100%;
  left: 4px;
  padding-top: 6px;
  width: 2em;
}

  .menu-is-open .nav .btn--nav:focus,
  .menu-is-open .nav .btn--nav:hover {
    background: #901932;
  }


.off-screen-menu-overlay {
  background: rgba(0,0,0,.75);
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  transform-origin: center center;
  transform: translateX(-100px);
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 90;
}

.pause-document-scroll  .off-screen-menu-overlay {
  opacity: 1;
  transform: translateX(0px);
  visibility: visible;
}

.pause-document-scroll {
  overflow: hidden;
}


/*

  No JS Fallback

*/

.no-js .nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.no-js header[role="banner"] {
  padding-top: 80px;
}

.no-js .btn--nav {
  display: none;
}

.no-js .nav-list li{
  display: none
}


.no-js .nav-list {
  background: #ddd;
  border-bottom: 1px solid #777;
  left: 0;
  top: 0;
  width: 100%
}

.no-js .nav-list {
  background: transparent;
  height: auto;
  overflow: hidden;
  padding-left: 64px;
  width: 100%;
}

.no-js .nav-list:before,
.no-js .nav-list:after {
  display: none;
}

.no-js .nav-list li {
  float: left;
  display: block;
}

.no-js .nav-list a {
  visibility: visible;
}
